#calender {
    width: 1360px;
    height: 978px;
    margin: 27px 25px 27px 25px;
}

#calender-title {
    font-family: "ltim";
    font-size: 30px;
    width: 1360px;
    height: 45px;
    text-align: center;
    background-color: #ffeb60;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

table {
    font-family: "ltim";
    display: block;
    width: 1360px;
    height: 933px;
    border-collapse: collapse;
    background-color: #fffce9;
}

thead tr {
    height: 58px;
}
tbody tr {
    height: 175px;
}

#weekname-row {
    height: 58px;
}

#weekname-col {
    width: 194px;
    border: solid 1px;
    border-color: #7e72201a;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

#day-row {
    height: 175px;
}

#day-col {
    border: solid 1px;
    border-color: #7e72201a;
    width: 194px;
    vertical-align: top;
    font-size: 36px;
}

#today {
    border-radius: 30px;
    background-color: #0b036b;
    padding: 10px;
    color: #ffffff;
}

.sunday {
    color: #ff0000;
}

.saturday {
    color: #0022ff;
}

#day-income-text {
    margin-top: 30px;
    margin-left: 10px;
    vertical-align: bottom;
    color: #60a5fa;
    font-size: 20px;
}

#day-expense-text {
    margin-top: 5px;
    margin-left: 10px;
    vertical-align: bottom;
    color: #f87171;
    font-size: 20px;
}

#day-cash-inpormation {
    width: 1360px;
    height: 465px;
    background-color: #fef7d1;
    margin-top: 27px;
    margin-left: 25px;
    border-radius: 20px;
}

#day-cash-report-text {
    margin-left: 15px;
    padding-top: 15px;
    font-family: "Black Han Sans";
    font-size: 36px;
}

#month-cash-total-income {
    font-family: "lim";
    color: #60a5fa;
}

#month-cash-total-expense {
    color: #f87171;
    font-family: "lim";
}

#month-cash-result {
    font-family: "lim";
}

@media (max-width: 394px) {
    #calender {
        width: 333px;
        height: 237.46px;
        margin-top: 100px;
    }

    #calender-title {
        font-family: "ltim";
        font-size: 10px;
        width: 333px;
        height: 12px;
        text-align: center;
        background-color: #ffeb60;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    table {
        font-family: "ltim";
        display: block;
        width: 332.59px;
        height: 212.51px;
        border-collapse: collapse;
        background-color: #fffce9;
    }

    thead tr {
        height: 14.18px;
    }
    tbody tr {
        height: 42.8px;
    }

    #weekname-row {
        height: 14.18px;
    }

    #weekname-col {
        width: 47.44px;
        border: solid 1px;
        border-color: #7e72201a;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
    }

    #day-row {
        height: 42.8px;
    }

    #day-col {
        border: solid 1px;
        border-color: #7e72201a;
        width: 194px;
        vertical-align: top;
        font-size: 12px;
    }

    #today {
        border-radius: 20px;
        background-color: #0b036b;
        padding: 2px;
        color: #ffffff;
    }
}
