.container {
  margin: 300px;

  

  }
  /* 헤더 영역 */
  .headers{
    margin: 0 auto;
    text-align: center;
  }
  .headers>h2{
    font-size:  36px;
    margin: 20px;
    font-family: 'Black Han Sans', sans-serif;
  }
  .month-picker {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 4px 12px;
    background-color: #feffed;
    font-family: sans-serif;
    margin: 20px;
  }
  
  .nav-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 4px 8px;
  }
  
  .current-month {
    margin: 0 8px;
    font-weight: bold;
  }
  
  
  
  /* 탭 버튼 영역 */
  .tabs {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tab {
    padding: 10px 20px;
    border: none;
    background-color: #feffed;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
   
  }
  
  .tab.active {
    background-color: #feffed;
    font-weight: bold;
  }
  .tab.active .totalAmount{
    color: #F99810;
  }
  .tab:hover {
    color: black; /* 버튼 안의 일반 텍스트는 검정색 */
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .tab:hover .totalAmount {
    color: #F99810; /* totalAmount 클래스는 오렌지색 */
    
  }
  
  .tab.active .incomeAmount{
    color: green;
  }
  .tab.active .expenseAmount{
    color: red;
  }
  
  
  /* 테이블 영역 */
  .table {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .table-header,
  .table-row {
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr 2fr 40px;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    gap: 0px 20px;
  }
  
  .table-header {
    background-color: #f8f8f8;
    font-weight: bold;
  }
  
  .amount.plus {
    color: green;
  }
  
  .amount.minus {
    color: red;
  }
  
  /* 반응형: 화면 너비 줄어들 때 */
  
  /* 최대 400px까지 이 미디어쿼리를 적용 */
  @media (max-width: 393px) {
    .container {
      width: 100%;
      min-width: 393px;
      margin-top: 70px;
      margin-left:0;
      padding: 12px;
      
    }
  
    .tabs {
      gap: 8px;
    }
  
    
  }