/* 전체 컨테이너 */
.container {
  background-color: #fdfce5;
  padding-left: ;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 폼 박스 */
.form-box {
  background-color: #fef7d1;
  border: 2px solid rgba(187, 170, 187, 0.6706);
  margin-left: auto; /* 오른쪽에 정렬 */
  margin-top: 50px; /* 원하는 위치로 조정 */
  margin-right: 60px; /* 여백 조정 */
  padding: 40px;
  border-radius: 30px;
  width: calc(100% - 400px - 600px);
  height: 915px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  left: 400px;
  position: absolute;
  top: 0%;
  flex: 1;
  min-width: 400px;
  overflow: auto;
}

/* 상단 토글 버튼 */
.toggle-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.toggle-btn {
  width: 45%;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid #ccc;
  border-radius: 6px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.toggle-btn.income {
  border-color: #add8e6;
}

.toggle-btn.expense {
  border-color: #f4a261;
}

.toggle-btn.active {
  background-color: #fff;
  border-width: 2px;
}

/* 필드 라인 */
.form-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px; /* 항목 간격*/
  font-size: 32px;
}

.field-row label {
  flex: 1;
  font-weight: bold;
}

.field-row input,
.field-row select {
  flex: 2;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
}

/* 저장 버튼 */
.submit-btn {
  margin-top: 30px;
  text-align: center;
}

.submit-btn button {
  background-color: #f4a300;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
