/* css/calender.css */
:root {
    --main-font: "Black Han Sans";
}

#calender {
    font-family: var(--main-font);
}


:root {
    --main-font: "Do Hyeon";
}

#calender {
    font-family: var(--main-font);
}


:root {
    --main-font: "Sunflower" ;
}

#calender {
    font-family: var(--main-font);
}

