* {
    padding: 0px;
    margin: 0px;
}

#container {
    display: flex;
}

#page-rendering-div {
    background-color: #feffed;
}

/*모바일 버전*/
@media (max-width: 394px) {
    #container {
        display: block;
        background-color: #feffed;
    }

    #page-rendering-div {
        height: 100vh;
        background-color: #feffed;
    }
}
