.page-wrapper {
    margin-top: 60px; /* 메뉴바 높이만큼 내려주기 */
    padding: 20px 0 20px 0;
}
.mobile-mainview-div {
    width: 369px;
    height: 273.52px;
    background-color: #fef7d1;
    border-radius: 30px;
    margin-left: 12px;
    align-content: center;
    justify-items: center;
}

.mobile-main-attribute-div {
    width: 322.03px;
    height: 27.47px;
    background-color: #fffefa;
    border-radius: 30px;
    text-align: center;
}

.mobile-mainview-text {
    font-family: "Black Han Sans";
    font-size: 20px;
}

#mobile-main-div1 {
    margin-top: 11px;
    height: 169px;
}

#mobile-main-div2,
#mobile-main-div3,
#mobile-main-div4 {
    margin-top: 24px;
}

#mobile-main-div4 {
    height: 100px;
}

#mobile-main-adttribute2 {
    margin-top: 5.72px;
}

#mobile-main-deal-report2,
#mobile-main-deal-report3,
#mobile-main-deal-report4,
#mobile-main-deal-report5 {
    margin-top: 10px;
}

#mobile-mainview-text1 {
    margin-bottom: 21.13px;
}

#mobile-mainview-text2 {
    margin-bottom: 0px;
    text-align: center;
}

#mobile-mainview-text3 {
    margin-bottom: 12px;
}

#mobile-mainview-text4 {
    font-size: 30px;
}

#mobile-doughnutchart-div {
    width: 200px;
    height: 200px;
    margin-top: 10px;
}
