* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #feffed;
}

#container {
    display: flex;
    justify-items: center;
    align-content: center;
}

#page-rendering-div {
    width: 100%;
    height: 100vh;
}

/* 모바일 버전 */
@media (max-width: 394px) {
    #container {
        display: block;
    }

    #page-rendering-div {
        width: 100%;
    }
}
