header {
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: #ffeb60;
    font-family: var(--main-font);
    font-size: 24px;
    padding-top: 10px;
    text-align: center;
    align-content: center;
}
body.dark-mode header {
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: #090254;
    font-family: var(--main-font);
    color: #ffeb60;
    font-size: 24px;
    padding-top: 10px;
    text-align: center;
    align-content: center;
}

li {
    font-size: 15px;
    margin-left: 20px;
    list-style: none;
}

#menu-image {
    float: left;

    margin-left: 16px;
    width: 20px;
    height: 20px;
    background-image: url("../asset/image/menu.png");
    background-size: cover;
    background-position: center;
}

body.dark-mode #menu-image {
    background-image: url("../asset/image/menuyellow.png");
    background-size: cover;
    background-position: center;
    float: left;
    margin-left: 16px;
    width: 20px;
    height: 20px;
}

#logo-image {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    margin-top: -8px;
}

#mobile-menu {
    display: block;
    width: 128px;
    height: 100vh;
    background-color: #ffeb60;
    font-family: var(--main-font);
    font-size: 20px;
    color: #0b036b;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /* overlay보다 위 */
}
#mobile-menu div:hover {
    background-color: #1202c61c;
    transition: 6ms;
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
}
#logo-text {
    padding-top: 24.15px;
}

#cashmonth-div,
#cashreport-div,
#setting-div {
    margin-top: 49.15px;
}

/* 메뉴바 오버레이*/
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); /* 어두운 반투명 배경 */
    z-index: 9; /* 메뉴 바로 아래에 위치 */
}

/* 메뉴바 애니메이션 */
.slide-enter-from {
    transform: translateX(-100%);
    opacity: 0;
}
.slide-enter-active {
    transition: all 0.3s ease;
}
.slide-enter-to {
    transform: translateX(0);
    opacity: 1;
}

.slide-leave-from {
    transform: translateX(0);
    opacity: 1;
}
.slide-leave-active {
    transition: all 0.3s ease;
}
.slide-leave-to {
    transform: translateX(-100%);
    opacity: 0;
}

/* 모바일 메뉴바 다크 모드 */
body.dark-mode #mobile-menu {
    background-color: #090254;
    color: #ffeb60;
}

body.dark-mode #mobile-menu div {
    color: #ffeb60;
}

body.dark-mode #mobile-menu div:hover {
    background-color: #8277f586;
}
