a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

#container {
    display: flex;
}

#menu {
    width: 270px;
    height: 100vh;
    background-color: #ffeb60;
    font-family: "Black Han Sans";
    font-size: 32px;
    color: #0b036b;
}

#menu > div {
    width: 270px;
    height: 100px;
    padding-top: 20px;
    text-align: center;
}

#cashmonth-div:hover #cashmonth-div-child {
    display: block;
}

#cashmonth-div-child {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 20px;
    display: none;
    padding-right: 67px;
    color: #5d5d5d;
}
