header {
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: #ffeb60;
  font-family: 'Black Han Sans';
  font-size: 24px;
  text-align: center;
  align-content: center;
}

li {
  font-size: 15px;
  margin-left: 20px;
  list-style: none;
}

#menu-image {
  float: left;
  margin-left: 16px;
  width: 24px;
  height: 24px;
}

#logo-image {
  float: right;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

#mobile-menu {
  display: block;
  width: 128px;
  height: 100vh;
  background-color: #ffeb60;
  font-family: 'Black Han Sans';
  font-size: 20px;
  color: #0b036b;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; /* overlay보다 위 */
}

#logo-text {
  margin-top: 24.15px;
}

#cashmonth-div,
#cashreport-div,
#setting-div {
  margin-top: 49.15px;
}

/* 메뉴바 오버레이*/
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* 어두운 반투명 배경 */
  z-index: 9; /* 메뉴 바로 아래에 위치 */
}

/* 메뉴바 애니메이션 */
.slide-enter-from {
  transform: translateX(-100%);
  opacity: 0;
}
.slide-enter-active {
  transition: all 0.3s ease;
}
.slide-enter-to {
  transform: translateX(0);
  opacity: 1;
}

.slide-leave-from {
  transform: translateX(0);
  opacity: 1;
}
.slide-leave-active {
  transition: all 0.3s ease;
}
.slide-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}
